@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.top-bar, .top-bar-left, .top-bar-right {
  background-color: transparent;
  border-radius: 10px;
  margin: 3px;
  opacity: 100%;
}

.menu {
  border-radius: 10px;
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.home-page {
  background-image: url(../../../public/images/background-image-explorality.jpeg);
  height: 100vh;
  background-size: cover;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

.home-page-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;
  color: #2075C4;
  font-weight: bold;
  margin-left: 360px;
  margin-bottom: 20px;
}

.home-page-motto {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  color: #0763B8;
  font-weight: bold;
  margin-top: 150px;
  margin-left: 360px;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h5 {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-page-button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0763B8;
  background-position: right center;
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  font-size: 16px;
  padding: 10px 24px;
  color: black;
  font-weight: bold;
  margin-left: 360px;
  border: none;
  border-radius: 36px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.gradient-hover-effect {
  padding: 0.875em 2em;
  background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  transition: background-color 1s;
  place-content: center;
}

.gradient-hover-effect:hover, .gradient-hover-effect:focus {
  background-color: #e91e63;
  color: #fff;
}

.top-bar-home-button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0763B8;
  background-position: right center;
  font-size: 14px;
  padding: 8px 16px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 26px;
  margin-left: 40px;
  width: 65px;
  height: 35px;
}

li {
  list-style: none;
}

.remove-li-bullet {
  list-style-type: none;
}

.locations-list-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;
  color: #2075C4;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.location-list-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;
  color: #2075C4;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center {
  text-align: center;
  margin-bottom: 26px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  text-align: center;
  max-width: 75%;
  margin: auto;
}

.grid-tile {
  background-color: #1277A0;
  padding: 10px;
  border-radius: 26px;
}

.collapsible .content {
  padding: 6px;
  background-color: #eeeeee;
  text-align: center;
  max-width: 30%;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;
  color: #2075C4;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
}

.collapsible .header {
  background-color: #dddddd;
  padding: 6px;
  cursor: pointer;
  text-align: center;
  max-width: 30%;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
}

.coordinate-button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 10px;
  border-radius: 26px;
}

.location-submit-button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 10px;
  border-radius: 26px;
}

.locations-dropzone {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: auto;
  text-align: center;
  border: 3px dashed #eeeeee;
  background-color: transparent;
  color: black;
  margin-top: 10px;
}

.location-tile-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;
  font-weight: bold;
  margin-left: 30px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.select-width {
  max-width: 15%;
}

.tile-image-sizing {
  height: 160px;
  width: 240px;
  border-radius: 26px;
}

.button {
  list-style-type: none;
}

.profile-image-div {
  text-align: left;
}

.profile-image {
  height: 170px;
  width: 170px;
  margin-top: 20px;
  margin-left: 30px;
}

.profile-image-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;
  font-weight: bold;
  margin-left: 30px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-username {
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  font-weight: bold;
}

.profile-created-at {
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  font-weight: bold;
}

.profile-admin {
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  font-weight: bold;
}

.dropzone {
  margin-right: 70%;
  margin-left: 20px;
  text-align: center;
  border: 3px dashed #eeeeee;
  background-color: transparent;
  color: #bdbdbd;
}

.show-page-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  color: #0763B8;
  font-weight: bold;
  margin-left: 20px;
}

.show-page-image {
  height: 400px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
  border-radius: 26px;
  margin-left: 10px;
}

.show-page-coordinates {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  color: #0763B8;
  font-weight: bold;
  margin-right: 10%;
}

.show-page-description {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  color: #0763B8;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10%;
}

.show-page-difficulty {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  color: #0763B8;
  font-weight: bold;
}

div.inline { 
  float:left; 
  margin-left: 10px;
}

.clearBoth { 
  clear:both; 
}

.sign-in-header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  color: #0763B8;
  font-weight: bold;
}

.sign-in-email {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f3ec78;
  font-weight: bold;
}

.sign-in-password {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f3ec78;
  font-weight: bold;
}

.sign-in-button {
  border-radius: 26px;
}

.register-header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  color: #0763B8;
  font-weight: bold;
}

.register-email {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f3ec78;
  font-weight: bold;
}

.register-username {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f3ec78;
  font-weight: bold;
}

.register-password {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f3ec78;
  font-weight: bold;
}

.register-button {
  border-radius: 26px;
}


